*{
    margin:0;
    padding:0;
}
/* NAVBAR CSS*/ 
.header {
    padding: 60px;
    text-align: center;
    background: #070707;
    color: white;
    font-size: 30px;
  }
  .logo-img
  {
    outline:none !important;
    width:130px;
    height:150px;
  }
  .navbar-toggler
  {
    outline:none !important;
    padding:0 !important;
  }
  .navbar-toggler img
  {
    width:35px;
  }
  .nav-link
  {
    margin-left:30px;
    font-weight:600;
  }
  /*Header CSS*/ 
  .wrapper
  {
    margin:50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom:50px;
    box-shadow: 0 0 40px 2px rgba(37,73,214,0.18);
    background:black;
  }
 .feature-box
 {
    padding: 30px;
 }
 .feature-box h1
 {
    margin-top:20%;
    color:white;
 }
 .feature-box p
 {
    margin:50px auto;
    color:white;
 }
 .feature-box a
 {
    background: #ffffff;
    border-radius:20px;
    padding: 10px 20px; 
    color:black;
 }
 .read-more:hover
 {
    color:blue;
 }
 
 .feature-img
 {
    width:100%;
    padding:40px;
 }
 /* Contact us page CSS*/ 
 .wrapper-contact
 {
    margin:50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom:50px;
    box-shadow: 0 0 40px 2px rgba(37,73,214,0.18);
    background:rgb(3, 3, 3);
 }
 .wrapper-contact h1
 {
    color:white;

 }
 .feature-box-contact
 {
    padding: 30px;
 }
 .feature-box-contact h1
 {
    margin-top:20%;
    color:white;
 }
 .feature-box-contact p
 {
    margin:50px auto;
    color:white;
    font-size: 30px;
 }
 .feature-box-contact a
 {
    background: #ffffff;
    border-radius:20px;
    padding: 10px 20px; 
    color:black;
 }
